{% extends "base_generic.html" %}
{% load static %}
{% block content %}
<section id="index_banner" class="banner-vertical-center-index container-fluid pt-5">
  <div class="container">
      <div class="row d-flex align-items-center py-5">
          <div class="col-lg-6 text-start">
              
              <h2 class="h2 text-center col-12 py-5 semi-bold-600">Profile </h1>
  
              <div class="container">
                  <div class="row">
                      <div class="col-lg-6 mx-auto my-4 p-3">
                        <form action="" method="post">
                          {% csrf_token %}
                          <table class="table-primary">
                          {{ form.as_table }}
                          </table> <br>
                          <input type="submit" value="Submit">
                        </form>
                      </div>
                    </div>
               </div>  
              </div>
              <div class="col-lg-6">
                  <img src="{% static 'img/banner-img-01.svg' %}">  
              </div>
            </div>
        </div>
    </section>


{% endblock %}