{% extends "base_generic.html" %}

{% block content %}

<br><br> <br>
  <h1 class="h4 pb-lg-3 text-dark light-300">Register your Company with us!</h1>
  
    <div class="container">
        <div class="row">
            <div style="text-align:left" class="col-lg-6 mx-auto my-4 p-3">
              <form action="" method="post">
                {% csrf_token %}
                <table class="table-primary">
                {{ form.as_table }}
                </table>
                <br>
                <input type="submit" value="Resgister">
              </form>
            </div>
        </div>
      </div>  
   
{% endblock %}  