<section id="index_banner" class="banner-vertical-center-index container-fluid pt-5">  
{% extends "base_generic.html" %}
{% load static %}

{% block content %}
<br> <br><br> <br>

  <div class="container">
    <div style="text-align: left;" class="row">
        
        <br><br>
        <div >
        
          <p style="text-align: left;" class="banner-footer text-dark light-300">Please provide your email to reset your password.</p>
        </div>

        <form action="" method="post">
          {% csrf_token %}
          {% if form.email.errors %}
            {{ form.email.errors }}
          {% endif %}
              <p>{{ form.email }}</p>
            <input type="submit" value="Reset password" class="btn px-4 btn-primary text-white">
          </form>
        {% endblock %}
      
    </div>
  </div>
</section>


 